{% extends 'todo_main/common/header.html' %}
{% load static %}
{% block main %}
<section id="blog">
    <div class="container">
        {{ todo_list }}
        <h2>{{ todo_list.title }}</h2>
        <p> {{ todo_list.content | linebreaksbr}}</p><br>
        <button type="button" class="btn btn-primary" onclick="location.href='{% url 'todo_board:todo_board_update' pk=todo_list.pk %} '">수정</button>
        <button type="button" class="btn btn-primary" onclick="location.href='{% url 'todo_board:todo_board_delete' pk=todo_list.pk %} '">삭제</button>
    </div>
</section>
{% endblock main %}